:root {
  --clr-accent-100: hsla(0, 0%, 100%, 1);
  --clr-primary-400: hsla(269, 72%, 86%, 1);
  --clr-accent-500: hsla(238, 29%, 25%, 1);
  --clr-accent-900: hsla(0, 0%, 0%, 1);

  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
  list-style: none;
  box-sizing: border-box;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* General styles */
body {
  font-family: "DM Sans", sans-serif;
  max-width: 1vw;
  max-height: 1vh;
  background: var(--clr-primary-400) 0% 0% no-repeat padding-box;
  opacity: 1;
}

/* Header styles */
.primary-header {
  display: flex;
  font-size: clamp(10px, 14px , 3.5vw);
  max-height: 4.0625em;
  margin-top: 3.3125em ;
  --margin: 13.0625em;
  width: clamp(300px, 1440px, 100%  - 2 * var(--margin));
  align-items: center;
  margin-inline: auto;
  /* white-space: nowrap; 
  overflow: hidden;  */
  border: 1px solid var(--clr-accent-900);
}

@media (min-width: 360px) {
  .primary-header {
    font-size: clamp( 12px, 16px, 1.75vw);
  }
}

@media (min-width: 1440px) {
  *
  .primary-header {
    font-size: clamp(14px, 18px, 1vw);
  }
}

.nav-list {
  max-width: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0.75em 0em 1.8em;
  border: 1px solid var(--clr-accent-900);
}

.logo {
  max-width: 9.5625em;
  max-height: 4.0625em;
  background: transparent 0% 0% no-repeat padding-box;
}

.solutions {
  max-width: 5.3125em;
  max-height: 1.5em;
  margin: 0em 0.275em 1.8125em 23.9375em;
  text-decoration: underline;
  font-weight: var(--fw-bold);
  text-align: left;
}

.arrow { 
  max-width: 1em;
  max-height: 0.64em;
  box-sizing: border-box;

}

.projects {
  padding-left: 2.625em;
}

.company {
  padding-left: 2.125em;
}

.news {
  padding: 3.3125em 13em 1.8125em 2.125em;
}

.contact-button {
  border-radius: 1.375em;
  max-height: 2.75em;
  max-width: 8.375em;
  padding: 0.5em;
  background: var(--clr-accent-500) 0% 0% no-repeat padding-box;

  opacity: 1;
  color: var(--clr-accent-100);
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; /
}