* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans";
  list-style: none;
  text-decoration: none;
}

.navlist {
  display: flex;
  font-size: 1.125em;
}

.navlist a {
  color: black;
}

.logo {
  width: 9.5625em;
  height: 4.0625em;
}

.contactus-btn {
  display: inline-block;
  padding: 1.25em;
  max-width: 8.375em;
  max-height: 2.75em;
  font-size: 1em;
  background: #2D2E52 0% 0% no-repeat padding-box;
  border: none;
  border-radius: 1.375em;
  cursor: pointer;
  position: relative;
  opacity: 1;
  display: flex;
  align-items: center;
}

.contactus-btn>a {
  color: #FFFFFF;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  width: 80%;
  margin-top: 25px;

}

.hero-text h1 {
  font-size: 5.125em;
  line-height: 1.1;
  color: black;
  margin: 0 0 0.625em;
  text-align: left;
  font: normal normal medium;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.hero-text p {
  color: black;
  font-size: 2.5em;
  line-height: 1.5;
  margin-bottom: 1.875em;
  text-align: left;
  font: normal normal medium;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  line-height: 1.1;
}

.hero-img img {
  max-width: 50.1875em;
  max-height: 49.75em;
  background: transparent url('img/Union 2.png') 0% 0% no-repeat padding-box;
  opacity: 0.85;
}

.hero-text a {
  display: inline-block;
  color: black;

}

.btn-unlock {
  background: #000000 0% 0% no-repeat padding-box;
  color: #FFFFFF;
  opacity: 1;
  border-radius: 1.8125em;
  display: flex;
  width: 16.6875em;
  height: 3.625em;
  align-items: center;
  border: none;
  padding: 1.0625em 1.5em 1.0625em 1.25em;
  justify-content: space-between;
  opacity: 1;
  font-size: 1.125em;
  font-weight: bold;
  line-height: 2.625em;
}


.arrow-icon {
  background-color: #FFFFFF;
  border-radius: 1.8125em;
  width: 2.625em;
  height: 2.625em;
  display: flex;
  align-items: center;
}

.arrow-icon>img {
  width: 3.5em;
  height: 1em;
  opacity: 1;
  align-self: center;
}

.chevron {
  transition: transform 0.3s;
}

.links:hover .chevron {
  transform: rotate(180deg);
}

#toggler,
.navbar label {
  display: none;
  color: black;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  width: 80%;
  margin-top: 25px;

}


.menu-list {
  display: flex;
}

/* responsive to tablet screen */

@media only screen and (max-width: 768px) {
  .menu-list {

    max-height: 0;
    flex-direction: column;
    align-items: center;
    transition: all 400ms ease-out;
    margin: auto;
    width: 100%;
    gap: 1rem;

  }

  .navlist {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 1rem;

  }

  .navbar {
    width: 70%
  }

  .navbar label {
    display: inline-flex;
    align-items: center;
  }

  #toggler:checked~.menu-list {
    max-height: 100%;

  }

  .hero {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 70%;
    margin-top: 55px;
    gap: 3rem;
  }

  .hero-img img {
    width: 400px;
    height: 400px;

  }
}

/* responsive to mobile */
@media only screen and (max-width: 320px) {
  .navbar {
    width: 100%;
    margin-left: 125px;
  }

  .hero-img {
    padding: 2rem;
  }

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    color: black;
  }

  body {
    background-color: #F9F8F4;

  }

  nav {
    height: 80px;
    width: 100%;
    justify-content: space-between;
    background-color: #F9F8F4;
  }

  .curved-line {
    border-radius: 50%;
    border-bottom: 2px solid;
  }

  nav ul {
    float: right;
    margin-right: 200px;
  }

  .nav-button {
    background: #2D2E52 0% 0% no-repeat padding-box;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 22px;
    font-size: 18px;
    margin-left: 150px;
  }


  nav li {
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
  }

  nav a {
    color: black;
    font-size: 18px;
    padding: 7px 10px;
  }

  #icon {
    color: black;
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }

  #icontwo {
    color: black;
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
}

@media (max-width:909px) {

  nav ul {
    margin-right: 20px;
  }

  nav a {
    font-size: 17px;
  }
}

@media (max-width:1181px) {
  #icon {
    display: block;
  }

  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #F9F8F4;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }

  nav li {
    display: block;
    margin: 10px 0;
    line-height: 30px;
  }

  .nav-button {
    margin-left: 50px;
  }

  nav a {
    font-size: 20px;
  }

  a.active,
  a:hover {
    text-decoration: underline;
  }

  nav ul.show {
    left: 0;
  }


}